body {
    background: var(--theme-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0px;
    /* margin: -20px 0 50px; */
}

.w3l-header {
    padding: 0px 0;
    box-shadow: none;
    height: 70px;
    z-index: 99;
    display: grid;
    align-items: center;
    background: var(--theme-hd-bg);
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.pr-3,
.px-3 {
    padding-right: 1rem !important;
}

.pb-0,
.py-0 {
    padding-bottom: 0 !important;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 992px) {

    .pl-lg-0,
    .px-lg-0 {
        padding-left: 0 !important;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
}

h1 a {
    font-family: SF-Regular !important;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    font-size: xx-large;
}
.container_signup_signin {
    background: var(--theme-bg);
    color: var(--theme-text);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    margin-top: 45px;
}
.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}
.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
form {
    background-color: var(--theme-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}
.social-container {
    margin: 20px 0;
}
.social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}
body a {
    font-family: 'Open Sans', sans-serif;
}

body a, button, .btn {
    cursor: pointer !important;
    font-family: 'Open Sans', sans-serif;
}
a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}
a, a:hover {
    text-decoration: none;
}
a {
    color: #df0e62;
    text-decoration: none;
    background-color: transparent;
}
.fab, .far {
    font-weight: 400;
}

.fab {
    font-family: "Font Awesome 5 Brands";
}
.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
span {
    font-size: 12px;
}
input {
    background-color: var(--theme-bg);
    color: var(--theme-text);
    border: none;
    padding: 12px 15px !important;
    margin: 8px 0 !important;
    width: 100%;
}

button, input, select {
    /* -webkit-appearance: none; */
    outline: none;
    font-family: 'Open Sans', sans-serif;
}
button, input {
    overflow: visible;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}
.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}
.overlay {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
h1 {
    font-weight: bold;
    margin: 0;
}
body p {
    line-height: 26px;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}
button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}
.overlay-right {
    right: 0;
    transform: translateX(0);
}
.error-message {
    color: red;
    margin: 0px;
    height: 10px;
}
input{
    border: 1px solid grey;
    border-radius: 33px;
}
.size{
    height: 20px;
}
.error{
    margin: -8px;
    color: red;
}

